<div class="container"> 
    
    <button class="odjava" (click)="OdjaviSe()">
        Odjavi se
    </button>
    <br><br><br><br><br><br>
    <div class="polje">
        
        <h1 style="text-align: center">Aktivni igraci</h1>
        <div class="lista">
            <mat-card *ngFor="let user of users" style="display: block;">
                
                
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>
                        {{user.name}}
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="primary"  (click)="Izazovi(user.id)">Izazovi</button>
                    </mat-grid-tile>
                </mat-grid-list>

            
            </mat-card>
        </div>
    </div>

    <div class="polje2">
        <h1>Izazovi</h1>
     
        <div class="lista2">
            <mat-card *ngFor="let c of challanges" style="display: block;">
                
                
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        {{c.challenger.name}}
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="primary" style="background-color: green;" (click)="Prihvati(c.challenge_id)">Prihvati</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn" (click)="Odbij(c.challenge_id)">Odbij</button>
                    </mat-grid-tile>
                </mat-grid-list>

            
            </mat-card>
        </div>
    </div>

</div>
