input{
    border: 1px solid #6296ea;
    border-radius: 10px;
    color: black;
    background-color: #fff;
    width: 300px;
    height: 30px;
    padding-left: 10px; 
    margin: auto;
    outline-style: none;
    box-shadow: none;
}

.container
{
    margin:auto;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}



button{
    width: 200px;
    padding: 15px 45px;
    border: 1px solid #6296ea;
    background-color: white;
    color: #6296ea;
    font-size: 100%;
    border-radius: 10px;
    margin-top: 2%;
    outline-style: none;
    box-shadow: none;
    
}

h1{
    font-size: 230%;
    color: #073175;
}

button:hover{
    border: none;
    color: white;
    background-color: #073175;
    cursor: pointer;
    font-size: 100%;
    margin-top: 2%;
    outline-style: none;
    box-shadow: none;
   
   
}
input:focus{
    border: 1px solid #073175;
    outline-style: none;
    box-shadow: none;
}

a{
    color: #6296ea;
}

a:hover
{
    color: #073175;
    cursor: pointer;
}