<div class="container" style="margin: auto;">
  <h1>Registracija</h1>
  <br>
  <input type="text" name="ime" placeholder="Ime" [(ngModel)]="u.name">
  <br>
  <br>
  <input type="email" name="email" placeholder="Email" [(ngModel)]="u.email">
  <br>
  <br>
  <input type="password" name="lozinka" placeholder="Lozinka" [(ngModel)]="u.password">
  <br>
  <br>
  <input type="password" name="potvrdaSifre" placeholder="Potvrdi lozinku" [(ngModel)]="u.password_confirmation">
  <br>
  <br>
  <button type="button" (click)="RegistrujSe()">Registruj se</button>

</div>